h1{
    color : black;
    border-radius:50%;
    padding-left: 100px;
}
.logo img {
    width: 100px; /* Adjust the width to your desired size */
    height: auto; 
    background-color: transparent; /* Remove the white background */
    display: block; /* Remove any extra space below the image */
    margin: 0; /* Remove any default margin */
    border-radius: 50%;
}
body, html{
    font-family: Barlow;
    margin: 0;
    padding: 0;
    background-color:#3F5F8F;
    height: 100%;
    flex-direction: column;
    min-height: 100vh;
    display: flex;
}
footer{
    font-family: Barlow;
    background-color:rgb(0, 0, 0);
    color: #F4F4DF;
    bottom: 0;
    position: relative;
    width: 100%;
    margin-top: auto;
}
.footer_container{
    padding: 20px;
    text-align: center;
}
.header_container{
    width: 100%;
    margin: 0 auto;
}
header{
background: black;
margin: 0 auto;
padding: 0px;
width: 100%;
}

header::after{
    content: '';
    display: table;
    clear: both;
}
nav{
    float: right
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li{
    display: inline-block;
    margin-left: 20px;
    padding-top: 60px;
    margin-right: 20px;
    position: relative;
}
nav a {
    color: #F4F4DF;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Barlow;
}
nav a:hover{
    color: #F4F4DF;
}
nav a::before{
    content: '';
    display: block;
    height:5px;
    width:0%;
    position: absolute;
    top: 0;
    background-color:#E2DE8F;
    transition: all ease-in-out 250ms;
}
nav a:hover::before{
    width:100%;
}
.picture_container{
    text-align: center;
    margin-bottom: 10px;
    width:100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.swiper{
    width: 100%;
    height: auto;
}
.picture_container img{
    width: 80%;
}
.swiper .swiper-pagination-bullet-active{
    background: #F4F4DF;
}
.swiper .swiper-button-prev, .swiper .swiper-button-next{color: #F4F4DF;}

.menu-icon {
    display: none; /* Hide by default on larger screens */
    cursor: pointer;
}

.menu-icon span {
    display: block;
    height: 3px;
    width: 25px;
    background-color: #fff;
    margin: 5px 0;
}


@media only screen and (max-width: 600px) {
    .header_container {
        width: 90%; /* Adjusted for smaller
         */
        nav ul {
            display: none;
            flex-direction: column;
            text-align: center;
        }
        nav li {
            margin-right: 0;
            margin-bottom: 10px;
        }
        .menu-icon {
            display: block; /* Display on smaller screens */
        }
    }}
