h1{
    color : black;
}
body, html{
    margin: 0;
    padding: 0;
    background-color:rgb(14, 33, 77);
    height: 100%;
    flex-direction: column;
}
footer{
    background-color:rgb(0, 0, 0);
    color: white;
    bottom: 0;
    position: relative;
    width: 100%;
    margin-top: 20px;
}
.footer_container{
    padding: 20px;
    text-align: center;
}
.header_container{
    width: 80%;
    margin: 0 auto;
}
header{
background: black;
margin: 0 auto;
}
header::after{
    content: '';
    display: table;
    clear: both;
}
nav{
    float: right
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li{
    display: inline-block;
    margin-left: 20px;
    padding-top: 32px;
    position: relative;
}
nav a {
    color: rgb(230, 225, 225);
    text-decoration: none;
    text-transform: uppercase;
}
nav a:hover{
    color: white;
}
nav a::before{
    content: '';
    display: block;
    height:5px;
    width:0%;
    position: absolute;
    top: 0;
    background-color: white;
    transition: all ease-in-out 250ms;
}
nav a:hover::before{
    width:100%;
}
.picture_container{
    text-align: center;
    margin-bottom: 30px;
    width:100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.swiper{
    width: 100%;
    height: auto;
}
.picture_container img{
    width: 100%;
}
.swiper .swiper-pagination-bullet-active{
    background: white;
}
.swiper .swiper-button-prev, .swiper .swiper-button-next{color: white;}

@media only screen and (max-width: 768px) {
    .header_container {
        width: 90%; /* Adjusted for smaller screens */
    }}